  section{
    height: 100%;
  }

  .searchArea{
    position: fixed;
    z-index: 200;
    width: 100%;  
    height: 100%;
  }

  .searchArea2{
    position: fixed;
    z-index: 200;
    width: 100%;      
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }

  .s_menu_icon{
    margin-top: .4rem;
    font-size: 2.5rem;
  }

  .s_search_in{
    position: fixed;
    top: 2rem;
    width: 90%;
    padding-left: 2rem;
    background-color: rgba(255,255,255,0.8);
    transform: translateX(-50%);
    left: 50%;
    padding-left: 30px!important;
    background-position: 0.6rem!important;
    padding-top: 10px;
  }

  .s_search_in2{
    padding-left: 2rem;
    background-color: rgba(255,255,255,0.8);
    padding-left: 30px!important;
    background-position: 0.6rem!important;
    padding-top: 10px;    
  }

  .amap-sug-result {
    transform: translateX(-50%);
    left: 50%;
  }

  .map_area{
    width: 100%;
    height: 100%; 
    background-color: #ddd;  
    z-index: 100;
  }

  .amap{
    height: 100%;
    width: 100%;
  }

  .historyOptions{
    position: fixed;
    top: 5.2rem;
    width: 100%;
    z-index: 201;
    padding-left: 5px;
    padding-right: 5px;
  }

  .close_h{
    font-size:16px;
    min-width:50px;
    text-align:right;    
  }

  .hoptions{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    color:gray;
  }

  .clearbar{
    text-align: center;
    padding: 20px 0;
  }

  .l_details{
    padding-top: 5rem;
  }

  .advInfo{
      background-color: white;
      border: 1px solid #bbb;     
      max-width: 20rem; 
      color:gray;
  }

  .advInfo div{
      line-height: 2rem;
  }

  .poi_name{
    background-color: #F9F9F9;
    padding: .5rem 1rem; 
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  .poi_address{
    padding: .5rem 1rem; 
      font-size: smaller;
  }

  .advOperator{
    padding: .5rem 1rem; 
  }

  .p_a_detail{
      margin-left: 1rem;
      float: right;
  }

  .amap-marker-label{
      border:1px solid #bbb;
  }

  /*路况图标 start*/
  .icon02 {
      /*background: url("../../common/img/sprite.png") no-repeat #fff;*/
      background-size: 230px 982px;
      position: absolute;
      top: 100px;
      right: 15px;
      width: 36px;
      height: 36px;
      border-radius: 2px;
      z-index: 199;
      background: white;
      border: 1px solid #bbb;
  }    
  .icon02.iconroadinfo_new {
      /*top: 10rem;*/
      background-position: -119px -13px;
      width: 36px;
      height: 36px;
      border-radius: 2px;
      z-index: 199;
      border: 1px solid #bbb;
  }  

  .icon02 img{
    width: 36px;
    padding: 5px;
  }  

.mylocation {
    position: absolute;  
    top: 150px;
    /*left: 15px;*/
    right: 15px;
    width: 36px;
    height: 36px;    
    background-position: -119px -13px;
    border-radius: 2px;
    z-index: 199;
    border: 1px solid #bbb;
    background: white;
}   
.mylocation img{
  width: 35px;
  padding: 3px;
}
.carlocation {
    position: absolute;  
    top: 200px;
    /*left: 15px;*/
    right: 15px;
    width: 36px;
    height: 36px;    
    background-position: -119px -13px;
    border-radius: 2px;
    z-index: 199;
    border: 1px solid #bbb;
    background: white;
    font-size: 10px;
    text-align: center;
    color:gray;
}
.carlocation img{
  width: 35px;
  padding: 4px;
}
.chargingPile{
  position: absolute;
  top: 150px;
  right: 15px;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  z-index: 199;
  background: white;
  border: 1px solid #bbb;
}
.chargingPile img{
  width: 35px;
  padding: 3px;
}

.iconroadinfo_new:active{
  background-color: skyblue;
}

.mylocation:active{
  background-color: skyblue;
}

.carlocation:active{
  background-color: skyblue;
}

  


  .icon02.highlight {
      background-position: -119px -62px;
  }    
  /*路况图标 end*/


  .headbar{
    background-color:  transparent;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    position: relative;
    z-index: 200;
    width: 100%;
    top: 30px;
    left: 0;
    /*background: url("../image/car_bg_top@2x.png") no-repeat center center;*/
  }

  .back_angle{
    position: absolute;
    left: 16px;
    /*top: 50%;*/
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);    
    font-size: 4rem;
    color: white;
    background: url("../image/title_return@2x.png") no-repeat center center;
    background-size: 20px;
    width: 20px;
    height: 40px;
  }

  .sl_title{
    color: #1a76ff;
    font-weight: bold;
    font-size: 15px;
  }

/*  .blockOne{
    background: url("../image/car_bg_top@2x.png") no-repeat center center;
  }*/

  .blockTwo{
    padding-top: 10px;    
  }

  .exchange{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); /* Safari and Chrome */  
    font-size: 3rem;
    color: cornflowerblue;          
  }


  .exchange_handle:active{
    background-color: lightblue;  
  }

  .exchange_handle{
    margin-left: -.5rem;  
  }


  .d_target_in{
    margin-bottom: .5rem;
  } 

  .d_autocomplate{
    height: 60%;
    border-top: 1px solid #ddd;
    margin-top: 1rem;    
    color: rgba(0,0,0,0.8);
  }

  .u_autocomplate{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .sl_btn{
    position: absolute;
    right: 2rem;
    /*top: 50%;*/
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border:none;
    right:-3px;
  }

  .driving_map{
    height: 100%;
  }

  .driving_policy{
    height: 5rem;
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 200;
    left: 0;    
    text-align: center;
    font-size: 12px;
  }

  .driving_policy{
    border-top: 1px solid darkgrey;
  }

  .stc:active{
    background-color: gainsboro;
  }

  .dp{
    border: 1px solid #ddd;
    color: gray;
    margin-right: -1px;
    margin-top: -1px;
  }

  .dp.active{
    background-color: lightblue !important;
  }

  .driving_panel{
    z-index: 999;
    position: absolute;
    background-color: white;
    max-height: 100%;
    overflow-y: auto;
    bottom: 5rem;
    width: 100%;
    max-height: 30%; 
  }

  .wp_s{
    /*background-color: lightblue;*/
    border-radius: 5px;
    margin: 6px 5px;    
    padding: 2px 5px;
    width: 100%;
    float: left;    
  }

  .wp_s .fa-times{
    color: #1576FF;
    font-size: 1px;
  }

  .sendtocarbtn{
    background: #428bca !important;
  }

  .stc{
    color:gray;
  }

  .auto-item {
    color: gray;
  }

.downList{
  position: absolute;
  z-index: 999;
  bottom:-120px;
  width: 100%;
}
.top_img{
  text-align: center;
}
.top_img .up-arrow{
  width: 25px;
}
.downList .list-group{
  margin-bottom: 0;
}
.downList .list-group .list-group-item{
  background-color: #080b14;
  padding: 0 0 10px 0;
  padding-left: 15px;
  padding-right: 15px;
  /*border-top: none;*/
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #86898E;
  border-radius: 0;
}
.downList .list-group-item:nth-child(1){
  padding-top: 0;
  border-bottom: 1px solid #86898E;
}
.downList .list-group-item:nth-child(1) .location{
  color: #CFD0D2;
}
.downList .list-group-item:nth-child(1) .locationName{
  color: #86898E;
}
.downList .list-group-item:nth-child(2){
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
}
.downList .list-group-item:nth-child(3),
.downList .list-group-item:nth-child(4){
  padding-top: 15px;
  padding-bottom: 15px;
  color: #CFD0D2;
  min-height: 50px;
}
.downList .secondList .col-md-3{
  float: left;
  text-align: center;
  padding-left: 9.5px;
  padding-right: 9.5px;
  width: 20%;
}
.downList .secondList .col-md-3.active{
  background:-webkit-linear-gradient(bottom,rgba(0,101,181,0),rgba(0,101,181,0.7));
  background:-moz-linear-gradient(top,rgba(0,101,181,0),rgba(0,101,181,0.7));
  background:-o-linear-gradient(top,rgba(0,101,181,0),rgba(0,101,181,0.7));
  background:linear-gradient(to top,rgba(0,101,181,0),rgba(0,101,181,0.7));
}
@keyframes colorChge{
  form {background:rgba(0,101,181,0);}
  to {background:rgba(0,101,181,0.7);}
}
@-webkit-keyframes colorChge{
  form {background:rgba(0,101,181,0);}
  to {background:rgba(0,101,181,0.7);}
}
@-moz-keyframes colorChge{
  form {background:rgba(0,101,181,0);}
  to {background:rgba(0,101,181,0.7);}
}
@-o-keyframes colorChge{
 form {background:rgba(0,101,181,0);}
  to {background:rgba(0,101,181,0.7);}
}

.downList .secondList .col-md-3 img{
  width: 35px;
  margin-bottom: 5px;
}
.downList .secondList .col-md-3 span{
  font-size: 8px;
  display: block;
}

.telName .col-md-9{
    width: 80%;
    word-break: break-all;
    padding-left: 0
}
.telName .col-md-3{
  width: 20%;
}
.telName .col-md-3:last-child{
  left: 80%;
}
.telName .col-md-9,.telName .col-md-3{
    float: left;
    color:#ffffff;
    text-decoration: none;
}

.l_road{
  line-height: 30px;
}
.l_road .col-md-9,.l_road .col-md-3{
  float: left;
}
.l_road .col-md-3{
  position: absolute;
  left: 80%;
}
.l_road .col-md-3 img{
  width: 15px;
}

/*.secondList .row{
  display: inline-block;
}
.rowOne{
    padding-left: 0px;
    margin-right: 10px;
}
.rowTwo{
    padding-left: 5px;
}*/


/**搜索列表**/
.listSearch{
  height: 55px;
  border-bottom: 1px solid #818288;
}
.searchInput{
  width: 70%;
  /*transform: translateX(-38%);*/
  top:10px;
  /*left: 38%;*/
  background-color: transparent;
  color: #ffffff;
  border:1px solid #818288;
}

.returnBack img{
  width: 2.5rem;
}
.search_in_list{
  width: 20%;
  border:none;
  color:rgba(255, 255, 255, 0.8);
}


.history_item{
  padding: 0 10px;
}
.history_item .list-group-item{

  background: #080B14;
  padding:0;
}
.history_item .col-md-9,
.history_item .col-md-3{
  display: inline-block;
}
.history_item .col-md-9{
  width: 75%;
  font-size: 14px;
  height: 100%;
  padding: 10px 0 10px 15px;
  color: #ffffff;
}
.history_item .col-md-9 span{
  display: block;
  width: 100%;
  word-break:break-all;
}
.history_item .col-md-9 span:nth-child(1){
  color: #ffffff;
  margin-bottom: 3px;
}
.history_item .col-md-9 span:nth-child(2){
  padding: 0;
}
.history_item .col-md-3{
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
}
.history_item .col-md-3 img{
  width: 20px;
}

.historyPage .searchInput{
  width: 85%;
  left: 43%;
}

.clearHistory{
    padding-top: 10px!important;
    text-align: center;
    padding-bottom: 10px!important;
    font-size: 14px;
    color: #ffffff;
}

.d_target_in {
  background: transparent;
  color: #ffffff;
  border: 1px solid rgba(255,255,255,0.2);
}
.vertical-container img{
  width: 40px;
  height: 40px;
}
.d_from_to .col-xs-10{
  padding: 0 5px 0 22px;
}
.d_from_to .col-xs-2{
  padding: 0 5px;
}
.white_search{
  background: url("../image/map_search_1@2x.png") no-repeat 5px center;
  background-size: 18px;
  font-size: 16px;
  padding-left: 25px;
}
.auto-item:hover {
    background-color: rgba(255,255,255,0);
}

.nearPoint{
  position: fixed;
  bottom:0px;
  z-index: 666;
  width: 100%;
}

.historyPage .title_top{
    text-align: center;
    padding: 40px 10px 20px 10px;
    border-bottom: 1px solid #ffffff;
}
.historyPage .title_top .col-md-2,.historyPage .title_top .col-md-10{
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}
.historyPage .title_top .col-md-2{
    width: 12%;
    margin-left: -10px;
}
.historyPage .title_top .col-md-10{
  width: 80%;
}

.searchPage .title_top{
   padding: 40px 10px 20px 10px;
   /*height: 16%;*/
}
.searchPage .title_top .col-md-2,.searchPage .title_top .col-md-10{
    display: inline-block;
}
.searchPage .title_top .col-md-2{
    width: 12%;
    padding-right: 2px;
    /*margin-left: 10px;*/
}
.searchPage .title_top .col-md-10{
  width: 80%;
  padding-left: 10px;
  padding-right: 0;

}
.search_in_two{
  width: 77%
}
.searchPage .col-md-10 input,.searchPage .col-md-10 a{
    display: inline-block;
}
.pointSetting p,pointSetting span{
  display: inline-block;
}

.planning{
  height: 0px!important;
  line-height: 0px!important;
  top:0px!important;
  padding: 35px 0 25px;
}
.s_map,.s_driving{
  overflow-y: hidden;
  overflow-x: hidden;
}

.return{
    width: 11%;
    height: 34px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.return img{
    width: 12px;
}
.s_search_in2{
  width: 89%;
  border-left: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.s_search_in2,.return{
  float: left;
}
.s_driving_map{
  overflow-y:hidden;
  overflow-x:hidden;
}