html,body{
	height: 100%;
	width: 100%
}

.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.search_nby{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    padding-top: 15px;        
}

.search_nby .head{
    /* position: absolute; */
    /* right: 0; */
    /* left: 0; */
    /* z-index: 1; */
    width: 100%;
    /* background-color: rgb(45, 47, 55); */
}

.search_nby .head .top{
    text-align: center;
    height: 45px;
    line-height: 46px;
    border-bottom: 1px solid #ddd; 
    font-size: 18px;  
    -webkit-box-align: center;
    -webkit-align-items: center;     	
}

.search_nby .head .tleft{
	margin-left: 10px;
    width: 30px;
    height: 100%;
	font-size: 24px;
	color:#2694F1;
}

.search_nby .head .searchType{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    font-weight: bold;
}

.search_nby .head .tright{
    margin-right: 15px;
    font-size: 14px;
    border: 1px solid #2694F1;
    line-height: 25px;
    width: 60px;
    padding-left: 15px;
    background: url("../image/header-mapicon.png") no-repeat 5px center;
    background-size: 14.5px 15px;
    background-position-y: 3px;
    color: #03A9F4;
    border-radius: 5px;
}


.search_nby .searchRange{
    height: 45px;
    line-height: 45px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.search_nby .searchRange .value{
	border-bottom: 1px solid #ddd
}

.search_nby .searchRange .radius{
	margin-left: 15px;
}

.search_nby .searchRange .radius .fa{
	font-size: 22px;
	vertical-align: middle;
	color:#2694F1;
}

.search_nby .info{
    /* position: absolute; */
    /* top: 91px; */
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll;
}

.search_nby .info .list{
	width: 100%;
}

.search_nby .info .list .listItem{
    width: 100%;
    margin-top: 5px;
    background: rgba(255,255,255,.15);
    padding: 5px 15px;
}	

.search_nby .rangeUl{
    width: 100%;
    background: #FBFBFB;
    color: black;
}

.search_nby .rangeUl li{
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    padding-left: 15px;
}

.search_nby .rangeUl li.selected{
    border-left: 3px solid #2196F3;	
}

.search_nby .rangeUl li:active{
    background-color: rgba(158, 158, 158, 0.18);
}


.search_nby .info .poiName{
	padding-bottom: 5px;	
	font-size: 14px;
	font-weight: bold;
	color:#2694F1;
}

.search_nby .info .poi_address{
	padding-bottom: 5px;
	font-size: 12px;
	color: rgba(204, 204, 204, 0.9);
}

.search_nby .info .poi_address .address{
		
}

.search_nby .info .poi_address .distance{

}

.search_nby .info .pageCtrl{
	margin-top: 15px;
	text-align: center;
	margin-bottom: 100px;
}

.search_nby .listItem .operation{
    line-height: 30px;    
}

.search_nby .listItem .tel{
	border-left: 1px solid #ddd;
	color:#2694F1;
    display: none;
}

.search_nby .listItem .gothere{
	color:#2694F1;
    display: none;
}

.search_nby .info .list{
    counter-reset: poiCount;	
}

.search_nby .info .list .poiName:before{
    counter-increment: poiCount;
    content: counter(poiCount)'. ';  /*如果需要加点在这行后面加"." */              
}

.search_nby .pageCtrl .btn.prePage{
	width: 48%;
	float: left;
}

.search_nby .pageCtrl .btn.nextPage{
	width: 48%;
	float: right;
}

.search_nby .btn[disabled]{
	color:black;
	background-color: #777
}